$primary: #1C3041;
$gray: #9B9B93;
$red: #DE3C4B;
$green: #06D6A0;
$yellow: #FA9F42;

.input {
  display: flex;
  flex-direction: column;
}

input[type="password"] {
  letter-spacing: .125em;
}

.form {
  display: flex;
  flex-direction: column;

  width: 500px;
  height: 500px;
  padding: 20px;

  font-weight: bold;
  color: $primary;

  &__control {
    margin: 8px 0;
    padding: 12px 24px;
    border: 2px solid $primary;
    border-radius: 6px;
    font-size: 20px;
  }
}

.validation {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;

  .red {
    background-color: $red;
  }

  .yellow{
    background-color: $yellow;
  }

  .green {
    background-color: $green;
  }

  &__section{
    width: 140px;
    height: 12px;
    border: 2px solid $primary;
    border-radius: 4px;
    background-color: $gray;
  }
}
