<form class='form' [formGroup]='authForm'>
  <div class="input">
    <label for='password'>Password Strength</label>
    <input class='form__control' id='password' type='password' formControlName='password' autocomplete="on">
  </div>
  <div class="validation">
    <div class='validation__section' [ngClass]='appendSectionClassEasy'></div>
    <div class='validation__section' [ngClass]='appendSectionClassMedium'></div>
    <div class='validation__section' [ngClass]='appendSectionClassHard'></div>
  </div>
</form>
